@font-face {
  font-family: "Montserrat";
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Raleway:wght@400&display=swap")
      format("woff2"),
    url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Raleway:wght@400&display=swap")
      format("woff"),
    format("truetype");
}

body {
  background-color: rgba(153, 146, 146, 0.5);
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

header {
  background-color: rgb(48, 21, 98);
  color: white;
  text-align: center;
  padding: 1em;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #36454f;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

section {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1em;
  padding: 1em;
  width: 45%;
}

#heading1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
}

#heading2,
#heading3 {
  font-family: "Montserrat", sans-serif;
  color: rgb(48, 21, 98);
  font-weight: bold;
  text-align: center;
}

.intro,
.hobbies {
  text-align: left;
  color: rgb(0, 0, 0);
}

#switch-button {
  background-color: rgb(56, 17, 17);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 1em;
}

.images-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 1em;
}

.images-container img {
  width: 45%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: solid;
  color: rgb(239, 216, 216);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
